<!DOCTYPE html>
<html data-ng-app="app">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	
	<!-- 	css -->
	<link rel="stylesheet" type="text/css" href="src/app/client/styles/main.css">
	<link rel="stylesheet" type="text/css" href="src/app/client/js/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="src/app/client/js/lib/angular-ui-grid/ui-grid.min.css">
	
<!-- 	bower components -->
	<script type="text/javascript" src="src/app/client/js/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="src/app/client/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="src/app/client/js/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="src/app/client/js/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="src/app/client/js/lib/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="src/app/client/js/lib/angular-ui-grid/ui-grid.min.js"></script>
	
<!-- 	app -->
	<script type="text/javascript" src="src/app/client/js/app.js"></script>
	<script type="text/javascript" src="src/app/client/js/route.config.js"></script>

<!-- 	services -->
	<script type="text/javascript" src="src/app/client/js/services/notification.service.js"></script>
	<script type="text/javascript" src="src/app/client/js/services/navigation.service.js"></script>
	<script type="text/javascript" src="src/app/client/js/services/incident.service.js"></script>

<!-- 	controllers -->
	<script type="text/javascript" src="src/app/client/js/controllers/main.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/welcome.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/incident.list.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/incident.edit.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/incident.add.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/shift.report.list.controller.js"></script>
	<script type="text/javascript" src="src/app/client/js/controllers/shift.report.edit.controller.js"></script>

<!-- 	directives -->
	<script type="text/javascript" src="src/app/client/js/directives/main.menu.directive.js"></script>
	<script type="text/javascript" src="src/app/client/js/directives/incident.form.directive.js"></script>

	<title>The Road Home</title>
</head>

	
	
<body ng-controller="MainController as vm">
	
	<trh-main-menu></trh-main-menu>

	<div class="main-content">
		<div class="container-fluid">
			<ng-view></ng-view>
		</div>	
	</div>

	<div class="notification-container">
		<div 
			data-ng-repeat="n in vm.getActiveNotifications() track by $index"
			class="shadow alert" data-ng-class="vm.getNotificationClass(n)">
			<span
				data-ng-click="vm.removeNotification(n);" 
				class="glyphicon glyphicon-remove pull-right"></span>
			<h4>{{ n.title }}</h4>
			<p>{{ n.text }}</p>
			<p data-ng-repeat="line in n.lines track by $index">{{ line }}</p>
		</div>
	</div>

</body>
</html>