<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/play">Character Sheet</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span>Incidents</span> 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a style="cursor: pointer;">Search</a></li>
						<li><a style="cursor: pointer;">Add</a></li>
					</ul>
		        </li>
		        <li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span>Shift Reports</span> 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a style="cursor: pointer;">Search</a></li>
						<li><a style="cursor: pointer;">Add</a></li>
					</ul>
		        </li>
		        <li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span>Admin</span> 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a style="cursor: pointer;">Users</a></li>
					</ul>
		        </li>
			</ul>
		</div>
	</div>
</nav>		